= link_to root_path do
  .side__group-content
    %p.side__group-name
      test01グループ
    %p.side__group-message
      まだメッセージはありません。
= link_to root_path do
  .side__group-content
    %p.side__group-name
      test02グループ
    %p.side__group-message
      まだメッセージはありません。
= link_to root_path do
  .side__group-content
    %p.side__group-name
      test03グループ
    %p.side__group-message
      まだメッセージはありません。
= link_to root_path do
  .side__group-content
    %p.side__group-name
      test01グループ
    %p.side__group-message
      まだメッセージはありません。
