.chat-main__message
  .chat-main__message-name
    Members: kazuomi
  .chat-main__message-time
    テス
  .chat-main__message-text
    なるほど
.chat-main__message
  .chat-main__message-name
    Members: kazuomi
  .chat-main__message-time
    Members: kazuomi
  .chat-main__message-text
    Members: kazuomi
.chat-main__message
  .chat-main__message-name
    Members: kazuomi
  .chat-main__message-time
    テス
  .chat-main__message-text
    テス
