// 共通
$white: #fff;
$light-blue: #38AEF0;
$black: #434a54;

// フラッシュアラート
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_gray: #999;
$alert_orange: #F35500;

// チャット画面
$thin-black: #434A54;
$dark-blue: #253141;
$indigo-blue: #2f3e51;
$border-color: #eeeeee;
$silver-gray: #999999;
$pearl-gray: #E6E6E6;
$pearl-white: #FAFAFA;
